<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/some.css">
</head>

<body style="background-color: rgb(14, 42, 77)">
    <div class="container">
        <form method="post">
            <hr style="width:100.6%; height:10px; background-color: rgb(14, 42, 77); border-top:2px solid black; border-bottom:2px solid black; border-left:none; border-right:none;top: 120px; position: absolute; left:-3px">
            <hr style="width: 700px;; height: 0.25px; background-color: rgba(80, 37, 0, 0.31); border: 1px solid rgba(164, 81, 3, 0.129);top: 285px; position: absolute; left:280px">
            <hr style="width: 700px;; height: 0.25px; background-color: rgba(80, 37, 0, 0.31); border: 1px solid rgba(164, 81, 3, 0.129);top: 425px; position: absolute; left:280px">
            <div class="container2">

                <div class="blues">
                    <h1>
                        Bleu's
                    </h1>
                </div>
                <div class="head">
                    <nav>
                        <h1>Menu</h1>
                        <p>Select an item to add to cart</p>
                    </nav>
                </div>
            </div>
            <div class="cartbox">
                <div class="cart">
                    <h2>Order</h2>
                    <div class="cartitems">
                        <div class="list1">
                            <ul>
                                <li>
                                    {% if value_1 %}
                                    input is {{value_1}}
                                    {% else %}
                                    input is:
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="total">
                    <h2>Total + Tax</h2>
                    <div class="totalmoney">
                        <div class="list2">
                            {% if value_2 %}
                            {{value_2}}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="foodtypes">
                <div class="burgerd">
                    <ul>
                        <img src="../static/theburg.png" alt="">
                        <li>
                            Burgers
                        </li>
                    </ul>
                </div>
                <div class="sided">
                    <ul>
                        <img src="../static/friess.webp" alt="">
                        <li>
                            Sides
                        </li>
                    </ul>
                </div>
                <div class="Burgerd">
                    <ul>
                        <img src="../static/drink.png" alt="">
                        <li>
                            Drinks
                        </li>
                    </ul>
                </div>
            </div>
            <div class="c1">
                <div class="burger1">
                    <ul>
                        <button name="burger1" class="btTxt submit" id="burger1" value="btn"
                            style="background-image: url(../static/burger1.jpg); background-size:cover"></button>
                        <li>
                            Cheeseburger
                        </li>

                    </ul>
                </div>
                <div class="side1">
                    <ul>
                        <button name="side1" class="btTxt submit" id="side1" value="btn"
                            style="background-image: url(../static/side1.jpg); background-size:cover"></button>
                        <li>
                            French Fries
                        </li>
                    </ul>
                </div>
                <div class="drink1">
                    <ul>
                        <button name="drink1" class="btTxt submit" id="drink1" value="btn"
                            style="background-image: url(../static/drink1.jpg);"></button>
                        <li>
                            Coke Products
                        </li>
                    </ul>
                </div>
            </div>
            <div class="c2">
                <div class="burger2">
                    <ul>
                        <button name="burger2" class="btTxt submit" id="burger2" value="btn"
                            style="background-image: url(../static/burger2.jpg);"></button>
                        <li>
                            Double Cheeseburger
                        </li>
                    </ul>
                </div>
                <div class="side2">
                    <ul>
                        <button name="side2" class="btTxt submit" id="side2" value="btn"
                            style="background-image: url(../static/side2.jpg);"></button>
                        <li>
                            Sweet Potato Fries
                        </li>
                    </ul>
                </div>
                <div class="drink2">
                    <ul>
                        <button name="drink2" class="btTxt submit" id="drink2" value="btn"
                            style="background-image: url(../static/drink2.jpg);"></button>
                        <li>
                            Lemonade
                        </li>
                    </ul>
                </div>
            </div>
            <div class="c3">
                <div class="burger3">
                    <ul>
                        <button name="burger3" class="btTxt submit" id="burger3" value="btn"
                            style="background-image: url(../static/burger3.jpg);"></button>
                        <li>
                            Bacon Cheeseburger
                        </li>
                    </ul>
                </div>
                <div class="side3">
                    <ul>
                        <button name="side3" class="btTxt submit" id="side3" value="btn"
                            style="background-image: url(../static/side3.jpg);"></button>
                        <li>
                            Curly Fries
                        </li>
                    </ul>
                </div>
                <div class="drink3">
                    <ul>
                        <button name="drink3" class="btTxt submit" id="drink3" value="btn"
                            style="background-image: url(../static/drink3.jpg);"></button>
                        <li>
                            Sweet Tea
                        </li>
                    </ul>
                </div>
            </div>
            <div class="c4">
                <div class="burger4">
                    <ul>
                        <button name="burger4" class="btTxt submit" id="burger4" value="btn"
                            style="background-image: url(../static/burger4.jpg)"></button>
                        <li>
                            Chicken Burger
                        </li>
                    </ul>
                </div>
                <div class="side4">
                    <ul>
                        <button name="side4" class="btTxt submit" id="side4" value="btn"
                            style="background-image: url(../static/side4.jpg);"></button>
                        <li>
                            Apple Slices
                        </li>
                    </ul>
                </div>
                <div class="drink4">
                    <ul>
                        <button name="drink4" class="btTxt submit" id="drink4" value="btn"
                            style="background-image: url(../static/drink4.jpg);"></button>
                        <li>
                            Bubble Tea
                        </li>
                    </ul>
                </div>
            </div>
            <div class="c5">
                <div class="combo1">
                    <ul>
                        <button name="combo1" class="btTxt submit" id="combo1" value="btn">Combo 1</button>
                    </ul>
                </div>
                <div class="combo2">
                    <ul>
                        <button name="combo2" class="btTxt submit" id="combo2" value="btn">Combo 2</button>
                    </ul>
                </div>
                <div class="combo2">
                    <ul>
                        <button name="combo3" class="btTxt submit" id="combo3" value="btn">Combo 3</button>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
