<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/some.css">
</head>
<body  style="background-color: rgb(14, 42, 77)">
    <div class="container">
        <hr style="width:105%; height:10px; background-color: rgb(14, 42, 77); border:none; top: 120px; position: absolute; left:-5px">
        <div class="container2">

        <div class="blues">
        <h1>
            Bleu's 
        </h1>
        </div>
        <div class="head">
            <nav>
            <h1>Menu</h1>
            <p>Click item to add to cart</p>
            </nav>
        </div>
        </div>
        <div class="cartbox">
            <div class="cart">
                <h2>Cart</h2>
            </div>
            <div class="total">
                <h2>Total</h2>
            </div>
        </div>
        <div class="foodtypes">
            <div class="burgerd">
            <ul>
                <img src="images/theburg.png" alt="">
                <li>
                    Burgers
                </li>
            </ul>
            </div>
            <div class="sided">
                <ul>
                    <img src="images/friess.webp" alt="">
                    <li>
                        Sides
                    </li>
                </ul>
            </div>
            <div class="Burgerd">
                <ul>
                    <img src="images/drink.png" alt="">
                    <li>
                        Drinks
                    </li>
                </ul>
            </div>
        </div>
        <div class="c1">
            <div class="burger1">
            <ul>
                <img src="images/burger1.jpg" alt="" class="image1">
                <li>
                    Cheeseburger
                </li>
            </ul>
            </div>
            <div class="side1">
                <ul>
                    <img src="images/side1.jpg" alt="">
                    <li>
                        French Fries
                    </li>
                </ul>
            </div>
            <div class="drink1">
                <ul>
                    <img src="images/drink1.jpg" alt="">
                    <li>
                        Coke Products
                    </li>
                </ul>
            </div>
        </div>
        <div class="c2">
            <div class="burger2">
            <ul>
                <img src="images/burger2.jpg" alt="">
                <li>
                    Double Cheeseburger
                </li>
            </ul>
            </div>
            <div class="side2">
                <ul>
                    <img src="images/side2.jpg" alt="">
                    <li>
                        Sweet Potato Fries
                    </li>
                </ul>
            </div>
            <div class="drink2">
                <ul>
                    <img src="images/drink2.jpg" alt="">
                    <li>
                        Lemonade
                    </li>
                </ul>
            </div>
        </div>
        <div class="c3">
            <div class="burger3">
            <ul>
                <img src="images/burger3.jpg" alt="">
                <li>
                    Bacon Cheeseburger
                </li>
            </ul>
            </div>
            <div class="side3">
                <ul>
                    <img src="images/side3.jpg" alt="">
                    <li>
                        Curly Fries
                    </li>
                </ul>
            </div>
            <div class="drink3">
                <ul>
                    <img src="images/drink3.jpg" alt="">
                    <li>
                        Sweet Tea
                    </li>
                </ul>
            </div>
        </div>
        <div class="c4">
            <div class="burger4">
            <ul>
                <img src="images/burger4.jpg" alt="">
                <li>
                    Chicken Burger
                </li>
            </ul>
            </div>
            <div class="side4">
                <ul>
                    <img src="images/side4.jpg" alt="">
                    <li>
                        Apple Slices
                    </li>
                </ul>
            </div>
            <div class="drink4">
                <ul>
                    <img src="images/drink4.jpg" alt="">
                    <li>
                        Bubble Tea
                    </li>
                </ul>
            </div>
        </div>
        <!--
        <div class="burgerlist">
            <ul>
                <li><img src="images/realburg.jpg" alt="" class="realbo">
                    Cheeseburger
                </li>
                <li><img src="images/doublebo.jpg" alt="" class="doublebo">
                    Double Cheeseburger
                </li>
                <li><img src="images/baconbo.jpg" alt="" class="baconbo">
                    Bacon Cheeseburger
                </li>
            </ul>
        </div>
        <div class="sidelist">
            <ul>
                <li><img src="images/realyfry.jpg" alt="" class="frybo">
                    French Fries
                </li>
                <li><img src="images/sweetpo.jpg" alt="" class="sweetfrybo">
                    Sweet Potato Fries
                </li>
                <li><img src="images/curlyfry.jpg" alt="" class="curlyfrybo">
                    Curly Fries
                </li>
            </ul>
        </div>
        <div class="drinklist">
            <ul>
                <li><img src="images/dacoke.jpg" alt="" class="cokebo">
                    Coke Products
                </li>
                <li><img src="images/lemonss.jpg" alt="" class="lemonbo">
                    Lemonade
                </li>
                <li><img src="images/bubble.jpg" alt="" class="bubblebo">
                    Bubble Tea
                </li>
            </ul>
        </div>
    -->
        <!--
        <table class="burgertab">
            <thead>
                <tr>
                    Burgers
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Cheeseburger
                    </td>
                    <td>
                        Bacon Burger
                    </td>
                    <td>
                        Double Cheeseburger
                    </td>
                </tr>
            </tbody>
        </table>
    -->
    </div>
</body>
</html>